openapi: "3.0.2"
info:
  title: IAM API
  description: IAM API description
  version: "1.0"
servers:
  - url: https://main.iam.ad.ext.azure.com/api

security:
  - OAuth2: [read]

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/token
          scopes: {}

paths:
  /AccountSkus:
    $ref: "account_sku.yml#/paths/~1AccountSkus"
  /AccountSkus/Assign:
    $ref: "account_sku.yml#/paths/~1AccountSkus~1Assign"
  /AccountSkus/AssignUpdateRemove:
    $ref: "account_sku.yml#/paths/~1AccountSkus~1AssignUpdateRemove"
  /AccountSkus/CreateTrial:
    $ref: "account_sku.yml#/paths/~1AccountSkus~1CreateTrial"
  /AccountSkus/Group/{groupId}:
    $ref: "account_sku.yml#/paths/~1AccountSkus~1Group~1{groupId}"
  /AccountSkus/Group/{groupId}/AssignmentErrors:
    $ref: "account_sku.yml#/paths/~1AccountSkus~1Group~1{groupId}~1AssignmentErrors"
  /AccountSkus/Group/{groupId}/Reprocess:
    $ref: "account_sku.yml#/paths/~1AccountSkus~1Group~1{groupId}~1Reprocess"
  /AccountSkus/GroupAssignments:
    $ref: "account_sku.yml#/paths/~1AccountSkus~1GroupAssignments"
  /AccountSkus/GroupsWithLicensingErrors:
    $ref: "account_sku.yml#/paths/~1AccountSkus~1GroupsWithLicensingErrors"
  /AccountSkus/Remove:
    $ref: "account_sku.yml#/paths/~1AccountSkus~1Remove"
  /AccountSkus/User/{userId}:
    $ref: "account_sku.yml#/paths/~1AccountSkus~1User~1{userId}"
  /AccountSkus/User/{userId}/Reprocess:
    $ref: "account_sku.yml#/paths/~1AccountSkus~1User~1{userId}~1Reprocess"
  /AccountSkus/UserAssignments:
    $ref: "account_sku.yml#/paths/~1AccountSkus~1UserAssignments"
  /AccountSkus/Update:
    $ref: "account_sku.yml#/paths/~1AccountSkus~1Update"
  /AuthenticationMethods/AuthenticationMethodsPolicy:
    $ref: "auth.yml#/paths/~1AuthenticationMethods~1AuthenticationMethodsPolicy"
  /AuthenticationMethods/PasswordPolicy:
    $ref: "auth.yml#/paths/~1AuthenticationMethods~1PasswordPolicy"
  /B2B/b2bpolicy:
    $ref: "misc.yml#/paths/~1B2B~1b2bpolicy"
  /BrowserOperations:
    $ref: "misc.yml#/paths/~1BrowserOperations"
  /Common/GetObjectsByObjectIds:
    $ref: "misc.yml#/paths/~1Common~1GetObjectsByObjectIds"
  /Devices:
    $ref: "misc.yml#/paths/~1Devices"
  /Directories:
    $ref: "directories.yml#/paths/~1Directories"
  /Directories/ADConnectStatus:
    $ref: "directories.yml#/paths/~1Directories~1ADConnectStatus"
  /Directories/DomainAvailability:
    $ref: "directories.yml#/paths/~1Directories~1DomainAvailability"
  /Directories/DeletionRestrictions:
    $ref: "directories.yml#/paths/~1Directories~1DeletionRestrictions"
  /Directories/GetSeamlessSingleSignOnDomains:
    $ref: "directories.yml#/paths/~1Directories~1GetSeamlessSingleSignOnDomains"
  /Directories/GetPasswordSyncStatus:
    $ref: "directories.yml#/paths/~1Directories~1GetPasswordSyncStatus"
  /Directories/List:
    $ref: "directories.yml#/paths/~1Directories~1List"
  /Directories/Properties:
    $ref: "directories.yml#/paths/~1Directories~1Properties"
  /Directories/PropertiesV2:
    $ref: "directories.yml#/paths/~1Directories~1PropertiesV2"
  /Directories/RecommendedPayloads:
    $ref: "directories.yml#/paths/~1RecommendedPayloads"
  /Directories/SsgmProperties:
    $ref: "directories.yml#/paths/~1Directories~1SsgmProperties"
  /Directories/Summary:
    $ref: "directories.yml#/paths/~1Directories~1Summary"
  /directoryObjects/{objectId}:
    $ref: "directories.yml#/paths/~1directoryObjects~1{objectId}"
  /EnterpriseApplications/{spId}/ServicePrincipalPermissions:
    $ref: "applications.yml#/paths/~1EnterpriseApplications~1{spId}~1ServicePrincipalPermissions"
  /EnterpriseApplications/UserSettings:
    $ref: "applications.yml#/paths/~1EnterpriseApplications~1UserSettings"
  /FeatureConfigurations:
    $ref: "misc.yml#/paths/~1FeatureConfigurations"
  /Licenses/DirectoryMembersImageUrlFromIds:
    $ref: "account_sku.yml#/paths/~1Licenses~1DirectoryMembersImageUrlFromIds"
  /LoginTenantBrandings:
    $ref: "directories.yml#/paths/~1LoginTenantBrandings"
  /LoginTenantBrandings/0:
    $ref: "directories.yml#/paths/~1LoginTenantBrandings~10"
  /LoginTenantBrandings/BannerImage/{unknown}:
    $ref: "directories.yml#/paths/~1LoginTenantBrandings~1BannerImage~1{unknown}"
  /ManagedApplications/List:
    $ref: "applications.yml#/paths/~1ManagedApplications~1List"
  /ManagedApplications/{appId}/AppRoleAssignments:
    $ref: "applications.yml#/paths/~1ManagedApplications~1{appId}~1AppRoleAssignments"
  /MdmApplications/{appId}:
    $ref: "applications.yml#/paths/~1MdmApplications~1{appId}"
  /MoeraDomain:
    $ref: "misc.yml#/paths/~1MoeraDomain"
  /MultiFactorAuthentication/GetOrCreateExpandedTenantModel:
    $ref: "auth.yml#/paths/~1MultiFactorAuthentication~1GetOrCreateExpandedTenantModel"
  /MultiFactorAuthentication/HardwareToken/enable:
    $ref: "auth.yml#/paths/~1MultiFactorAuthentication~1HardwareToken~1enable"
  /MultiFactorAuthentication/HardwareToken/users:
    $ref: "auth.yml#/paths/~1MultiFactorAuthentication~1HardwareToken~1users"
  /PasswordReset/OnPremisesPasswordResetPolicies:
    $ref: "auth.yml#/paths/~1PasswordReset~1OnPremisesPasswordResetPolicies"
  /PasswordReset/PasswordResetPolicies:
    $ref: "auth.yml#/paths/~1PasswordReset~1PasswordResetPolicies"
  /PasswordReset/ResetPasswordByUpn:
    $ref: "auth.yml#/paths/~1PasswordReset~1ResetPasswordByUpn"
  /Permissions:
    $ref: "misc.yml#/paths/~1Permissions"
  /Permissions/IsTenantRegionScopeAllowed:
    $ref: "misc.yml#/paths/~1Permissions~1IsTenantRegionScopeAllowed"
  /Permissions/{unknown}/IsOwner:
    $ref: "misc.yml#/paths/~1Permissions~1{unknown}~1IsOwner"
  /Permissions/GetUserSystemRoleTemplateIds:
    $ref: "misc.yml#/paths/~1Permissions~1GetUserSystemRoleTemplateIds"
  /Policies:
    $ref: "misc.yml#/paths/~1Policies"
  /Policies/Policies:
    $ref: "misc.yml#/paths/~1Policies~1Policies"
  /RegisteredApplications/{appId}:
    $ref: "applications.yml#/paths/~1RegisteredApplications~1{appId}"
  /RegisteredApplications/{appId}/Consent:
    $ref: "applications.yml#/paths/~1RegisteredApplications~1{appId}~1Consent"
  /Reports:
    $ref: "reports.yml#/paths/~1Reports"
  /Reports/{reportId}:
    $ref: "reports.yml#/paths/~1Reports~1{reportId}"
  /Reports/AuditActivityTypes:
    $ref: "reports.yml#/paths/~1Reports~1AuditActivityTypes"
  /Reports/AuditActivityTypesV2:
    $ref: "reports.yml#/paths/~1Reports~1AuditActivityTypesV2"
  /Reports/Groups/{groupId}:
    $ref: "reports.yml#/paths/~1Reports~1Groups~1{groupId}"
  /Reports/GroupsActivitySummary:
    $ref: "reports.yml#/paths/~1Reports~1GroupsActivitySummary"
  /Reports/ServicePrincipals/{spId}:
    $ref: "reports.yml#/paths/~1Reports~1ServicePrincipals~1{spId}"
  /Reports/SignInEventsV2:
    $ref: "reports.yml#/paths/~1Reports~1SignInEventsV2"
  /Reports/Users/{userId}:
    $ref: "reports.yml#/paths/~1Reports~1Users~1{userId}"
  /Reports/UsersActivitySummary:
    $ref: "reports.yml#/paths/~1Reports~1UsersActivitySummary"
  /RoamingSettings:
    $ref: "misc.yml#/paths/~1RoamingSettings"
  /Roles/User/{userId}:
    $ref: "misc.yml#/paths/~1Roles~1User~1{userId}"
  /SecurityDefaults/GetSecurityDefaultStatus:
    $ref: "directories.yml#/paths/~1SecurityDefaults~1GetSecurityDefaultStatus"
  /SecurityDefaults/UpdateSecurityDefaultOnSave:
    $ref: "directories.yml#/paths/~1SecurityDefaults~1UpdateSecurityDefaultOnSave"
  /TenantSkuInfo:
    $ref: "misc.yml#/paths/~1TenantSkuInfo"
  /User/TemporaryPassword:
    $ref: "users.yml#/paths/~1User~1TemporaryPassword"
  /Users:
    $ref: "users.yml#/paths/~1Users"
  /Users/Invite:
    $ref: "users.yml#/paths/~1Users~1Invite"
  /Users/PermanentDelete:
    $ref: "users.yml#/paths/~1Users~1PermanentDelete"
  /Users/{userId}:
    $ref: "users.yml#/paths/~1Users~1{userId}"
  /Users/IsUPNUniqueOrPending/{userPrincipalName}:
    $ref: "users.yml#/paths/~1Users~1IsUPNUniqueOrPending~1{userPrincipalName}"
  /UserDetails:
    $ref: "users.yml#/paths/~1UserDetails"
  /ViralSubscriptions:
    $ref: "account_sku.yml#/paths/~1ViralSubscriptions"
  /ViralSku/delete:
    $ref: "account_sku.yml#/paths/~1ViralSku~1delete"
  /WhatIf/Evaluate:
    $ref: "misc.yml#/paths/~1WhatIf~1Evaluate"
