openapi: 3.0.1
info:
  title: Ibiza IAM
  description: |
    The Ibiza IAM API is used by Microsoft web portals for managing Identity and Access Management features, including:

      - Users
      - Groups
      - Service Principals
      - Applications
      - Directories
      - Policies

    It includes functionality available through standard APIs (e.g. Microsoft Graph), as well as some additional functionality.

    This API only supports delegated authentication flows such as the Authorization Code flow, and does not support client credentials.

    | Application Name | Application ID                         | Scope                |
    | ---------------- | -------------------------------------- | -------------------- |
    | ADIbizaUX        | `74658136-14ec-4630-ad9b-26e160ff0fc6` | `user_impersonation` |

    The following clients have pre-consented scopes for accessing this resource:

    | Application Name    | Application ID                         |
    | ------------------- | -------------------------------------- |
    | Azure Portal        | `c44b4083-3bb0-49c1-b47d-974e53cbdf3c` |
    | Microsoft Azure CLI | `04b07795-8ddb-461a-bbee-02f9e1bf7b46` |

    Documentation and specifications have been provided on a best efforts basis and may not be 100% accurate.

  version: '1.0'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://main.iam.ad.ext.azure.com/api

security:
- OAuth2: [74658136-14ec-4630-ad9b-26e160ff0fc6/user_impersonation]

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/token
          scopes:
            74658136-14ec-4630-ad9b-26e160ff0fc6/user_impersonation: User impersonation scope

tags:
  - name: Application
    description: >-
      Operations relating to Application management,
      including both Enterprise Applications, and Application Registrations.
  - name: Application Registration
    description: >-
      Operations relating to Application Registration management.
  - name: Authentication
    description: >-
      Operations relating to Authentication,
      including authentication methods and password policies.
  - name: Directory
    description: Operations relating to Directory management.
  - name: Licensing
    description: Operations relating to user and group licensing.
  - name: Permissions
    description: Read-only operations relating to assigned permissions and roles.
  - name: Policies
    description: >-
      Operations relating to policy management,
      including Conditional Access policies.
  - name: Reports
    description: Operations relating to report generation and management.
  - name: Roles
    description: Operations relating to role management.
  - name: Service Principal
    description: >-
      Operations relating to Service Principal (Enterprise Application) management.
  - name: Users and Groups
    description: Operations relating to user and group management.
x-tagGroups: 
  - name: Applicationb
    tags:
      - Application
      - Application Registration
      - Service Principal
  - name: General
    tags: 
      - Authentication
      - Directory
      - Licensing
      - Permissions
      - Policies
      - Reports
      - Roles
      - Users and Groups

paths:
  /AccountSkus:
    $ref: account_sku.yml#/paths/~1AccountSkus
  /AccountSkus/Assign:
    $ref: account_sku.yml#/paths/~1AccountSkus~1Assign
  /AccountSkus/AssignUpdateRemove:
    $ref: account_sku.yml#/paths/~1AccountSkus~1AssignUpdateRemove
  /AccountSkus/CreateTrial:
    $ref: account_sku.yml#/paths/~1AccountSkus~1CreateTrial
  /AccountSkus/Group/{groupId}:
    $ref: account_sku.yml#/paths/~1AccountSkus~1Group~1{groupId}
  /AccountSkus/Group/{groupId}/AssignmentErrors:
    $ref: account_sku.yml#/paths/~1AccountSkus~1Group~1{groupId}~1AssignmentErrors
  /AccountSkus/Group/{groupId}/Reprocess:
    $ref: account_sku.yml#/paths/~1AccountSkus~1Group~1{groupId}~1Reprocess
  /AccountSkus/GroupAssignments:
    $ref: account_sku.yml#/paths/~1AccountSkus~1GroupAssignments
  /AccountSkus/GroupsWithLicensingErrors:
    $ref: account_sku.yml#/paths/~1AccountSkus~1GroupsWithLicensingErrors
  /AccountSkus/Remove:
    $ref: account_sku.yml#/paths/~1AccountSkus~1Remove
  /AccountSkus/User/{userId}:
    $ref: account_sku.yml#/paths/~1AccountSkus~1User~1{userId}
  /AccountSkus/User/{userId}/Reprocess:
    $ref: account_sku.yml#/paths/~1AccountSkus~1User~1{userId}~1Reprocess
  /AccountSkus/UserAssignments:
    $ref: account_sku.yml#/paths/~1AccountSkus~1UserAssignments
  /AccountSkus/Update:
    $ref: account_sku.yml#/paths/~1AccountSkus~1Update
  /Applications/Gallery:
   $ref: applications.yml#/paths/~1Applications~1Gallery
  /Applications/Gallery/{appId}:
   $ref: applications.yml#/paths/~1Applications~1Gallery~1{appId}
  /ApplicationManagement/ApplicationObject/{appId}:
   $ref: applications.yml#/paths/~1ApplicationManagement~1ApplicationObject~1{appId}
  /ApplicationSso/{spId}/SingleSignOn:
    $ref: applications.yml#/paths/~1ApplicationSso~1{spId}~1SingleSignOn
  /ApplicationSso/FederatedSsoDefaultClaimsV2:
    $ref: applications.yml#/paths/~1ApplicationSso~1FederatedSsoDefaultClaimsV2
  /ApplicationSso/UserExtensionProperties:
    $ref: applications.yml#/paths/~1ApplicationSso~1UserExtensionProperties
  /ApplicationSso/{spId}/ClaimIssuancePolicyId:
    $ref: applications.yml#/paths/~1ApplicationSso~1{spId}~1ClaimIssuancePolicyId
  /ApplicationSso/{spId}/SsoApplication:
    $ref: applications.yml#/paths/~1ApplicationSso~1{spId}~1SsoApplication
  /ApplicationSso/{spId}/FederatedSsoClaimsPolicyV2:
    $ref: applications.yml#/paths/~1ApplicationSso~1{spId}~1FederatedSsoClaimsPolicyV2
  /ApplicationSso/{spId}/FederatedSsoV2:
    $ref: applications.yml#/paths/~1ApplicationSso~1{spId}~1FederatedSsoV2
  /AuthenticationMethods/AuthenticationMethodsPolicy:
    $ref: auth.yml#/paths/~1AuthenticationMethods~1AuthenticationMethodsPolicy
  /AuthenticationMethods/PasswordPolicy:
    $ref: auth.yml#/paths/~1AuthenticationMethods~1PasswordPolicy
  /B2B/b2bpolicy:
    $ref: misc.yml#/paths/~1B2B~1b2bpolicy
  /BrowserOperations:
    $ref: misc.yml#/paths/~1BrowserOperations
  /ClaimProviders:
    $ref: policies.yml#/paths/~1ClaimProviders
  /ClaimProviders/Controls:
    $ref: policies.yml#/paths/~1ClaimProviders~1Controls
  /ClaimProviders/Validate:
    $ref: policies.yml#/paths/~1ClaimProviders~1Validate
  /ClassicPolicies:
    $ref: policies.yml#/paths/~1ClassicPolicies
  /ClassicPolicies/Delete:
    $ref: policies.yml#/paths/~1ClassicPolicies~1Delete
  /ClassicPolicies/Detail:
    $ref: policies.yml#/paths/~1ClassicPolicies~1Detail
  /ClassicPolicies/Detail2:
    $ref: policies.yml#/paths/~1ClassicPolicies~1Detail2
  /ClassicPolicies/Disable:
    $ref: policies.yml#/paths/~1ClassicPolicies~1Disable
  /ClassicPolicies/Migrate:
    $ref: policies.yml#/paths/~1ClassicPolicies~1Migrate
  /ClassicPolicies/Save:
    $ref: policies.yml#/paths/~1ClassicPolicies~1Save
  /Common/GetObjectsByObjectIds:
    $ref: misc.yml#/paths/~1Common~1GetObjectsByObjectIds
  /Devices:
    $ref: misc.yml#/paths/~1Devices
#  /Directories:
#    $ref: directories.yml#/paths/~1Directories
  /Directories/ADConnectStatus:
    $ref: directories.yml#/paths/~1Directories~1ADConnectStatus
  /Directories/B2C:
    $ref: directories.yml#/paths/~1Directories~1B2C
  /Directories/DomainAvailability/{domainPrefix}:
    $ref: directories.yml#/paths/~1Directories~1DomainAvailability~1{domainPrefix}
  /Directories/DeletionRestrictions:
    $ref: directories.yml#/paths/~1Directories~1DeletionRestrictions
  /Directories/GetSeamlessSingleSignOnDomains:
    $ref: directories.yml#/paths/~1Directories~1GetSeamlessSingleSignOnDomains
  /Directories/GetPasswordSyncStatus:
    $ref: directories.yml#/paths/~1Directories~1GetPasswordSyncStatus
#  /Directories/List:
#    $ref: directories.yml#/paths/~1Directories~1List
  /Directories/FeatureSettingsProperties:
    $ref: directories.yml#/paths/~1Directories~1FeatureSettingsProperties
  /Directories/LcmSettings:
    $ref: directories.yml#/paths/~1Directories~1LcmSettings
  /Directories/Properties:
    $ref: directories.yml#/paths/~1Directories~1Properties
  /Directories/PropertiesV2:
    $ref: directories.yml#/paths/~1Directories~1PropertiesV2
  /Directories/RecommendedPayloads:
    $ref: directories.yml#/paths/~1Directories~1RecommendedPayloads
  /Directories/SsgmProperties:
    $ref: directories.yml#/paths/~1Directories~1SsgmProperties
  /Directories/Summary:
    $ref: directories.yml#/paths/~1Directories~1Summary
  /Directories/{tenantId}/Details:
    $ref: directories.yml#/paths/~1Directories~1{tenantId}~1Details
  /directoryObjects/{objectId}:
    $ref: directories.yml#/paths/~1directoryObjects~1{objectId}
  /DirectoryObjectPicker/DirectoryMembersFromIds:
    $ref: directories.yml#/paths/~1DirectoryObjectPicker~1DirectoryMembersFromIds
  /EnterpriseApplications/{spId}/Properties:
    $ref: applications.yml#/paths/~1EnterpriseApplications~1{spId}~1Properties
  /EnterpriseApplications/{spId}/ServicePrincipalPermissions:
    $ref: applications.yml#/paths/~1EnterpriseApplications~1{spId}~1ServicePrincipalPermissions
  /EnterpriseApplications/UserSettings:
    $ref: applications.yml#/paths/~1EnterpriseApplications~1UserSettings
  /FeatureConfigurations:
    $ref: misc.yml#/paths/~1FeatureConfigurations
  /Groups:
    $ref: groups.yml#/paths/~1Groups
  /Groups/{groupId}:
    $ref: groups.yml#/paths/~1Groups~1{groupId}
  /Groups/{groupId}/GetDynamicGroupProperties:
    $ref: groups.yml#/paths/~1Groups~1{groupId}~1GetDynamicGroupProperties
  /Groups/{groupId}/owners/count:
    $ref: groups.yml#/paths/~1Groups~1{groupId}~1owners~1count
  /Licenses/DirectoryMembersImageUrlFromIds:
    $ref: account_sku.yml#/paths/~1Licenses~1DirectoryMembersImageUrlFromIds
  /LoginTenantBrandings:
    $ref: directories.yml#/paths/~1LoginTenantBrandings
  /LoginTenantBrandings/{locale}:
    $ref: directories.yml#/paths/~1LoginTenantBrandings~1{locale}
  /LoginTenantBrandings/BannerImage/{locale}:
    $ref: directories.yml#/paths/~1LoginTenantBrandings~1BannerImage~1{locale}
  /ManagedApplications/List:
    $ref: applications.yml#/paths/~1ManagedApplications~1List
  /ManagedApplications/{spId}:
    $ref: applications.yml#/paths/~1ManagedApplications~1{spId}
  /ManagedApplications/{spId}/AppRoleAssignments:
    $ref: applications.yml#/paths/~1ManagedApplications~1{spId}~1AppRoleAssignments
  /MdmApplications:
    $ref: applications.yml#/paths/~1MdmApplications
  /MdmApplications/{spId}:
    $ref: applications.yml#/paths/~1MdmApplications~1{spId}
#  /MoeraDomain:
#    $ref: misc.yml#/paths/~1MoeraDomain
  /MultiFactorAuthentication/GetOrCreateExpandedTenantModel:
    $ref: auth.yml#/paths/~1MultiFactorAuthentication~1GetOrCreateExpandedTenantModel
  /MultiFactorAuthentication/HardwareToken/enable:
    $ref: auth.yml#/paths/~1MultiFactorAuthentication~1HardwareToken~1enable
  /MultiFactorAuthentication/HardwareToken/listUploads:
    $ref: auth.yml#/paths/~1MultiFactorAuthentication~1HardwareToken~1listUploads
  /MultiFactorAuthentication/HardwareToken/users:
    $ref: auth.yml#/paths/~1MultiFactorAuthentication~1HardwareToken~1users
  /MultiFactorAuthentication/HasPaidSubscription:
    $ref: auth.yml#/paths/~1MultiFactorAuthentication~1HasPaidSubscription
  /MultiFactorAuthentication/TenantModel:
    $ref: auth.yml#/paths/~1MultiFactorAuthentication~1TenantModel
  /NamedNetworksV2:
    $ref: misc.yml#/paths/~1NamedNetworksV2
  /NamedNetworksV2/CountryCodes:
    $ref: misc.yml#/paths/~1NamedNetworksV2~1CountryCodes
  /NamedNetworksV2/{id}:
    $ref: misc.yml#/paths/~1NamedNetworksV2~1{id}
  /NamedNetworksV2/ValidatePolicySize:
    $ref: misc.yml#/paths/~1NamedNetworksV2~1ValidatePolicySize
  /NamedNetworksV2/ValidatePolicySize/{id}:
    $ref: misc.yml#/paths/~1NamedNetworksV2~1ValidatePolicySize~1{id}
  /PasswordReset/OnPremisesPasswordResetPolicies:
    $ref: auth.yml#/paths/~1PasswordReset~1OnPremisesPasswordResetPolicies
  /PasswordReset/PasswordResetPolicies:
    $ref: auth.yml#/paths/~1PasswordReset~1PasswordResetPolicies
  /PasswordReset/ResetPasswordByUpn:
    $ref: auth.yml#/paths/~1PasswordReset~1ResetPasswordByUpn
  /Permissions:
    $ref: permissions.yml#/paths/~1Permissions
  /Permissions/IsTenantRegionScopeAllowed:
    $ref: permissions.yml#/paths/~1Permissions~1IsTenantRegionScopeAllowed
  /Permissions/{objectId}/IsOwner:
    $ref: permissions.yml#/paths/~1Permissions~1{objectId}~1IsOwner
  /Permissions/GetUserSystemRoleTemplateIds:
    $ref: permissions.yml#/paths/~1Permissions~1GetUserSystemRoleTemplateIds
  /Policies:
    $ref: policies.yml#/paths/~1Policies
  /Policies/{policyId}:
    $ref: policies.yml#/paths/~1Policies~1{policyId}
  /Policies/Policies:
    $ref: policies.yml#/paths/~1Policies~1Policies
  /Policies/PolicyCountUnderMaxAllowedLimit:
    $ref: policies.yml#/paths/~1Policies~1PolicyCountUnderMaxAllowedLimit
  /Policies/Validate:
    $ref: policies.yml#/paths/~1Policies~1Validate
  /RegisteredApplications:
    $ref: applications.yml#/paths/~1RegisteredApplications
  /RegisteredApplications/{appId}:
    $ref: applications.yml#/paths/~1RegisteredApplications~1{appId}
  /RegisteredApplications/{appId}/Consent:
    $ref: applications.yml#/paths/~1RegisteredApplications~1{appId}~1Consent
  #  /Reports:
  #    $ref: reports.yml#/paths/~1Reports
  #  /Reports/{reportId}:
  #    $ref: reports.yml#/paths/~1Reports~1{reportId}
  /Reports/AuditActivityTypes:
    $ref: reports.yml#/paths/~1Reports~1AuditActivityTypes
  /Reports/AuditActivityTypesV2:
    $ref: reports.yml#/paths/~1Reports~1AuditActivityTypesV2
  /Reports/Groups/{groupId}:
    $ref: reports.yml#/paths/~1Reports~1Groups~1{groupId}
  /Reports/GroupsActivitySummary:
    $ref: reports.yml#/paths/~1Reports~1GroupsActivitySummary
  #  /Reports/ServicePrincipals/{spId}:
  #    $ref: reports.yml#/paths/~1Reports~1ServicePrincipals~1{spId}
  /Reports/SignInEventsV2:
    $ref: reports.yml#/paths/~1Reports~1SignInEventsV2
  /Reports/Users/{userId}:
    $ref: reports.yml#/paths/~1Reports~1Users~1{userId}
  /Reports/UsersActivitySummary:
    $ref: reports.yml#/paths/~1Reports~1UsersActivitySummary
#  /RoamingSettings:
#    $ref: misc.yml#/paths/~1RoamingSettings
  #  /Roles/User/{userId}:
  #    $ref: roles.yml#/paths/~1Roles~1User~1{userId}
  /RequestApprovals/V2/PolicyTemplates:
    $ref: misc.yml#/paths/~1RequestApprovals~1V2~1PolicyTemplates
  /Roles/User/{userId}/RoleAssignments:
    $ref: roles.yml#/paths/~1Roles~1User~1{userId}~1RoleAssignments
  /SecurityDefaults/Configuration:
    $ref: directories.yml#/paths/~1SecurityDefaults~1Configuration
  /SecurityDefaults/GetSecurityDefaultStatus:
    $ref: directories.yml#/paths/~1SecurityDefaults~1GetSecurityDefaultStatus
  /SecurityDefaults/UpdateSecurityDefaultOnSave:
    $ref: directories.yml#/paths/~1SecurityDefaults~1UpdateSecurityDefaultOnSave
  /TenantSkuInfo:
    $ref: account_sku.yml#/paths/~1TenantSkuInfo
  /User/TemporaryPassword:
    $ref: users.yml#/paths/~1User~1TemporaryPassword
  /Users:
    $ref: users.yml#/paths/~1Users
  #  /Users/Invite:
  #    $ref: users.yml#/paths/~1Users~1Invite
  /Users/PermanentDelete:
    $ref: users.yml#/paths/~1Users~1PermanentDelete
  /Users/{userId}:
    $ref: users.yml#/paths/~1Users~1{userId}
  /Users/IsUPNUniqueOrPending/{userPrincipalName}:
    $ref: users.yml#/paths/~1Users~1IsUPNUniqueOrPending~1{userPrincipalName}
  /UserDetails:
    $ref: users.yml#/paths/~1UserDetails
  /UserDetails/{userId}:
    $ref: users.yml#/paths/~1UserDetails~1{userId}
  /ViralSubscriptions:
    $ref: account_sku.yml#/paths/~1ViralSubscriptions
  /ViralSku/delete:
    $ref: account_sku.yml#/paths/~1ViralSku~1delete
  /WhatIf/Evaluate:
    $ref: policies.yml#/paths/~1WhatIf~1Evaluate
